* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy, sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.header {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    color: #0077ff;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* Hero */
.hero {
    background: linear-gradient(to right, #830cc4, #a609b1);
    color: rgb(204, 111, 111);
    padding: 80px 0;
    text-align: center;
}

.cta-btn {
    display: inline-block;
    margin-top: 20px;
    background: rgb(175, 144, 144);
    color: #0d1115;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.cta-btn:hover {
    transform: scale(1.1);
}

.badge {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* Features */
.features {
    padding: 60px 0;
    text-align: center;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    padding: 25px;
    background: #f7f7f7;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Pricing */
.pricing {
    padding: 60px 0;
    text-align: center;
}

.pricing-grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.price-card {
    flex: 1;
    padding: 30px;
    background: #fafafa;
    border-radius: 8px;
    transition: 0.3s;
}

.price-card:hover {
    transform: scale(1.05);
}

.premium {
    border: 2px solid #ff4000;
    box-shadow: 0 0 15px rgba(255, 115, 0, 0.5);
}

.recommended {
    background: #85161d;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.price {
    font-size: 28px;
    margin: 15px 0;
}

/* Footer */
.footer {
    background: #222;
    color: white;
    padding: 40px 0;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
}

/* Responsive */
@media(max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 15px;
    }

    #menu-toggle:checked + .menu-icon + .nav ul {
        display: flex;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .pricing-grid {
        flex-direction: column;
    }

    .footer-grid {
        flex-direction: column;
        gap: 20px;
    }
}

